.test {
    margin: 0 2rem;
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.test fieldset legend {
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.test fieldset {
    border: none;
}

.question {
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    line-height: 1.2rem;
    padding:  0 0.5rem 4rem;
    font-size: 0.9rem;
    color: rgb(58, 58, 58);
}

.question div {
    display: flex;
    flex-direction: column;
}

.button {
    display: block;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    justify-self: center;
}

.answerLetter {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    padding: 0.3rem;
    color: rgb(58, 58, 58);
}

.correct {
    background-color: rgba(0, 255, 0, 0.5);
    padding: 0.3rem;
    line-height: 2rem;
    color: rgb(28, 28, 28);
}

.incorrect {
    background-color: rgba(255, 0, 0, 0.5);
    padding: 0.3rem;
    line-height: 2rem;
    color: rgb(0, 0, 0);
}

.errorText {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.answer {
    margin-bottom: 0.3rem;
}

.testType {
    color: rgb(48, 48, 48);
    font-weight: 700;
    font-size: 1.5rem;
}

.skeletonLoaderWrapper {
    margin: 0 2rem;
    padding: 2rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background-color:  rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    animation: pulse 1.5s linear infinite;
}

@keyframes pulse {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}

.skeletonTitle {
    height: 1.5rem;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.skeletonQuestion {
    height: 2rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;    
    margin: 1rem 0;
}

.skeletonAnswer {
    height: 1rem;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 0.3rem 0;
}

.skeletonAnswer:nth-child(4n + 1) { width: 95%; }
.skeletonAnswer:nth-child(4n + 2) { width: 85%; }
.skeletonAnswer:nth-child(4n + 3) { width: 90%; }
.skeletonAnswer:nth-child(4n + 0) { width: 65%; }

@media(min-width: 500px) {
    .question {
        font-size: 1.2rem;
    }

    .result {
        font-size: 1.5rem;
    }
}

@media(min-width : 992px) {
    .question, .question div label .answerLetter {
        line-height: 2rem;
        font-size: 1.5rem;
    }

    .testType {
        font-size: 1.7rem;
    }

    .test {
        margin: 0 7rem;
    }

    .errorText {
        font-size: 2rem;
    }

    .loadingText {
        font-size: 2rem;
    }
    
    .result {
        font-size: 2rem;
    }
}